<h1><%= @team.name%></h1>
<h3>Team Motto: <%= @team.motto%></h3>

<h1>Hero 1</h1>
<p>Hero Name: <%= @first_hero.name%></p>
<p>Hero Power: <%= @first_hero.power%></p>
<p>Hero Biography: <%= @first_hero.bio%></p>

<h1>Hero 2</h1>
<p>Hero Name: <%= @second_hero.name%></p>
<p>Hero Power: <%= @second_hero.power%></p>
<p>Hero Biography: <%= @second_hero.bio%></p>

<h1>Hero 3</h1>
<p>Hero Name: <%= @third_hero.name%></p>
<p>Hero Power: <%= @third_hero.power%></p>
<p>Hero Biography: <%= @third_hero.bio%></p>